
{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href=" {{url_for('static', path='css/login.css')}} ">
<div class="sign-in-block">
            Новый пароль
</div>
<div class="data-block">
    <h2>Введите данные</h2>
    <p class="data-p">Новый пароль</p>
    <input type="text"  id="password" class="data-input">
    </input>
    <div id="password-error" class="error-message"></div>
    <p class="data-p">Подтвердите новый пароль</p>
    <input type="password"  id="confirm-password" class="data-input">
    </input>
    <div id="confirm-password-error" class="error-message"></div>

    <button type="submit" id="sign-in-button" >Далее</button>
</div>
<script type="module" src=" {{url_for('static', path='js/change-password.js')}}"></script>
{% endblock %}
