{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href=" {{url_for('static', path='css/login.css')}} ">
<div class="sign-in-block">
    Вход в систему
</div>
<div class="data-block">
    <h2>Введите данные</h2>
    <p class="data-p">Адрес почты</p>
    <input type="email"  id="email" class="data-input">
    </input>
    <p class="data-p">Пароль</p>
    <input type="password"  id="password" class="data-input">
    </input>
    <div id="error" class="error" style="color: crimson"></div>

    <button type="submit" id="sign-in-button">Войти</button>
</div>
<script type="module" src=" {{url_for('static', path='js/login.js')}}"></script>
{% endblock %}

